fastapi
uvicorn
langchain
langchain-openai
langchain-google-genai
langchain-anthropic
python-dotenv
pydantic
sqlalchemy
asyncpg
pgvector
sentence-transformers
supabase
python-docx

boto3
langchain-aws
duckduckgo-search
langchain-ollama
langgraph
